BasedOnStyle: Microsoft
BreakBeforeBraces: Allman
UseTab: ForIndentation
AccessModifierOffset: -4
ColumnLimit: 120
MaxEmptyLinesToKeep: 1
NamespaceIndentation: All
PointerAlignment: Left
AllowShortFunctionsOnASingleLine: InlineOnly
BinPackArguments: false
BinPackParameters: false
